  <style>
  .spacing {
    padding-left: 20px;
  }
</style>

<div class="spacing">
  
  
  <h1> Relgo Gift List Search Engine </h1>

  <h2>  Please enter the name or link of the person you are shopping for!   </h2>





  <hr>

  <div>
    <div>
      <h3>
        Enter the First and Last Name of the Person you are looking for:
      </h3>

      <form action="/find_gifts">

        <div>
          <label for="first_name_of_desired_user">
            First Name
          </label>

          <input type="text" id="first_name_of_desired_user" name="query_first_name_of_desired_user">
        </div>


        <div>
          <label for="first_name_of_desired_user">
            Last Name
          </label>

          <input type="text" id="last_name_of_desired_user" name="query_last_name_of_desired_user">
        </div>


        <div>
          <input type="hidden" id="link_of_desired_user" name="query_link_of_desired_user" value="NA">
        </div>

        <button>
          Search for User
        </button>
      </form>
    </div>
  </div>



  <hr>


  <div>
    <div>
      <h3>
        Or enter the shareable link for the person you are looking for:
      </h3>

      <form action="/find_gifts">


        <div>
          <label for="link_of_desired_user">
            Shareable Link
          </label>

          <input type="text" id="link_of_desired_user" name="query_link_of_desired_user">
        </div>



        <div>
          <input type="hidden" id="first_name_of_desired_user" name="query_first_name_of_desired_user" value="NA">
        </div>


        <div>
          <input type="hidden" id="last_name_of_desired_user" name="query_last_name_of_desired_user" value="NA">
        </div>

        <button>
          Search for User
        </button>
      </form>
    </div>
  </div>
</div>
