
<style>
  .spacing {
    padding-left: 20px;
  }
</style>

<div class="spacing">

  <h1> Reglo Instructions </h1>

  <h2> This page walks you through how to interact with the Reglo application! </h2>

  <hr>

  <h3> Step 1: Categories </h3>

  <p> Define the categories of gifts you plan to add to your Reglo gift list. These can be anything you would like, but must have at least one value. Some examples might include: Decor, Cooking, Games, Car, Pets, etc. </p>

  <hr>

  <h3> Step 2: Gifts </h3>

  <p> Feel free to create your Reglo gift list! At this step you will name your gift, list it's price, provide a brief description of it, and finally assign in a category you created in step 1. </p>

  <hr>

  <h3> Step 3: Shops </h3>

  <p> Now that you have listed the gifts you want, it's time to share with people what your preferred stores are. Use the shops tab to list out the name's of the stores you would like them to shop at along with the shops' websites. </p>

  <hr>

  <h3> Step 4: Where to Buy Pairings </h3>

  <p> The final step of the Reglo app is pairing your preferred shops with your requested gifts. This allowed all of your buyers the flexability of shopping across multiple stores and makes it easier on them rather than having to search the internet. </p>
</div>  
