<style>
  .spacing {
    padding-left: 20px;
  }
</style>

<div class="spacing">
  <div>
    <div>
      <h1>
        List of your categories
      </h1>
    </div>
  </div>

  <hr>

  <div>
    <div>
      <h2>
        Add a new category for your gifts!
      </h2>

      <form action="/insert_category" method="post">
        <div>
          <label for="name_box">
            Name of New Category
          </label>
          <div>
            <input type="text" id="name_box" name="query_name">
          </div>
        </div>


        <div>
          <input type="hidden" id="count_of_gifts_box" name="query_gifts_count" value="0">
        </div>

        <button>
          Create category
        </button>
      </form>
    </div>
  </div>



  <hr>
  <div>
    <div>
      <table border="1" class="table">
        <tr>

          <th>
            Category of Item
          </th>

          <th>
            # of Gifts in Category
          </th>

          <th>
            Updated at
          </th>

          <th>
          </th>
        </tr>

        <% @list_of_categories.each do |a_category| %>
        <tr>

          <td>
            <%= a_category.name %>
          </td>

          <td>
            <%= a_category.gifts_count %>
          </td>


          <td>
            <%= time_ago_in_words(a_category.updated_at) %> ago
          </td>

          <td>
            <a href="/categories/<%= a_category.id %>">
              Category details
            </a>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>

  <hr>
</div>
